* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Righteous';
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

header {
    background-color: rgb(201, 90, 201);
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

section {
    /* background-color: crimson; */
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

select {
    padding: 10px;
    font-size: 20px;
}

label {
    font-family: 'Questrial', sans-serif;
}

.nav_buttons {
    list-style: none;
}

.nav_buttons li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_buttons li a:hover {
    background-color: cornflowerblue;
}

.content {
    background-color: cornflowerblue;
    padding: 10% 10%;
    justify-content: center;
    font-size: 24px;
}

.randomize_button {
    height: 60%;
    width: 60%;
    background-color: rgb(201, 90, 201);
    /* margin-top: 20px; */
    margin: 20px;
    font-size: 24px;
    color: white;
    border: none;
}